
@{
    ViewBag.Title = "Mankala Rules";
}

<h2>Mankala Rules</h2>

<p>
Your goal is to get more gems into your mancala (the cup on the right) than the computer can get into its mancala (on the left).
<br/>
You get to start, then the computer takes its turn and so on.
<br />
1) You can only move gems on your side (which is the bottom row).
<br />
2) To move, you click on one of the cups in your row. This picks up all the pieces in that cup and moves them counter-clockwise, putting one gem in each cup. (You'll see!)
<br />
3) If the last gem of your move lands in your mancala, you get to go again.
<br />
4) If the last gem of your move lands in an empty cup on your side and there are gems in the computer's cup right across from it, then all the gems in both cups get put into your mancala.
</p>