@{
    ViewBag.Title = "Mankala";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="row">
    <div class="col-md-4">
        <h2>Start game</h2>
        <p><a class="btn btn-default" href="/Game/New">Start</a></p>
    </div>
</div>
