@{
    ViewBag.Title = "Documents";
}


<div class="row">

    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a class="btn btn-default" href="https://asp.net">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>ASP.NET MVC</h2>
        <p>ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and gives you full control over markup for enjoyable, agile development.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Create .NET apps faster with NuGet</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://hosting.asp.net/hosting">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Single Page Application</h2>
        <p>ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

</div>


