@{
    ViewBag.Title = "Pierre Perinet";
}

<div class="jumbotron">
    <h1>Pierre Perinet</h1>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Mankala</h2>
        <p>Play Mankala game.</p>
        <p><a class="btn btn-primary btn-lg" href="/Game/New">Start</a></p>
    </div>

    <div class="col-md-4">
        <h2>Mankala REST APIs</h2>
        <p>See Mankala REST APIs.</p>
        <p><a class="btn btn-default" href="/Help">APIs &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Documentatioin</h2>
        <p>See ASP.NET documentation.</p>
        <p><a class="btn btn-default" href="/Documents">APIs &raquo;</a></p>
    </div>

</div>



